fastapi
uvicorn
python-multipart
streamlit
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
transformers
accelerate
torch
pymupdf
python-docx
numpy
huggingface_hub
python-dotenv
