fastapi==0.110.0
uvicorn==0.29.0
python-multipart
python-dotenv

langchain==0.2.1
langchain-community==0.2.1
langchain-huggingface==0.0.3

chromadb==0.5.3

pymupdf
python-docx

numpy==1.26.4
scikit-learn