fastapi
uvicorn
python-multipart
python-dotenv

langchain
langchain-community
langchain-huggingface

chromadb

sentence-transformers==2.7.0

transformers

torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu

pymupdf
python-docx

numpy
scikit-learn

huggingface_hub
